.word-list {
    width: 300px;
    height: 350px;
    overflow-y: scroll;
    padding: 10px;
    border: white 1px solid;
}

.word-list .element h6 {
    font-family: monospace;
    font-size: 18px;
    color: white;
}