

/*__________________________________*/

.App {
  text-align: center;
  background-color: red;
  padding-top: 30px;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .field {
  position: relative;
  bottom: -15px;
}

.App .spikes {
  background-image: url('../../images/spikes.png');
  width: 100%;
  height: 15px;
  background-repeat: repeat-x;
}
