
.warrior img {
    position: relative;
    transition: left .3s, top .3s;
}

.warrior img.left {
    /*left: 130px; */
    transform: scaleX(-1);
}


.warrior img.right{
    
}

.warrior img.falling {
    transform: rotate(90deg);
}