
.player {
    display: inline-block;
    margin: 0px 20px;
}

.player .name {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

.player.active .name {
    color: #00ff7f;
}

.player.inactive .name {
    color: white;
}

.player .name .type {
    font-size: 10px;
    color: blue;
}

.player .name .points {
    font-size: 17px;
    color: yellow;
}